@*
    For Borrower > Index
*@

@using LibrarySystemForDemo.Web.Models.Borrowers
@using LibrarySystemForDemo.Web.Startup

@model BorrowerListViewModel;

@{
    ViewBag.Title = L("Borrower");
    ViewBag.CurrentPageName = PageNames.Borrowers;
}

@section scripts
    {
    <environment names="Development">
        <script src="~/view-resources/Views/Borrower/Index.js" true"></script>
    </environment>
}
<section class="content-header">

    <div class="container-fluid">

        <h1>@L("Borrower")</h1>

        <a class="btn bg-blue float-sm-right" asp-controller="Borrower" asp-action="CreateOrEdit">
            <i class="fa fa-plus-square"></i>
            @L("CreateBorrower")
        </a>

        <div class="col-sm-6">

            <form id="borrowerSearchForm" class="form-horizontal" asp-controller="Borrower" asp-action="Index" method="get">

                <div class="input-group">
                    <div class="input-group-prepend">
                        <button type="submit" class="btn btn-success btn-search">
                            <i class="fas fa-search"></i> @L("Search")
                        </button>

                    </div>
                    <input type="text" name="searchBorrower" class="form-control txt-search">

                </div>
            </form>

        </div>

    </div>


</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="BookTable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>@L("BorrowerID")</th>
                                        <th>@L("Borrower")</th> @*Student is the borrower*@
                                        <th>@L("Books")</th>

                                        <th>@L("BorrowDate")</th>
                                        <th>@L("ExpectedReturnDate")</th>
                                        <th>@L("ReturnDate")</th>

                                        <th>@L("IsBorrowed")</th>


                                        <th style="width: 150px">@L("Actions")</th>
                                    </tr>
                                </thead>
                                <tbody>


                                    @foreach (var borrower in Model.Borrowers)
                                    {
                                        <tr>
                                            <td>@borrower?.Id</td>
                                            <td>@borrower.Student?.StudentName</td>
                                            <td>@borrower?.Books?.BookTitle</td>

                                            <td>@borrower?.BorrowDate</td>
                                            <td>@borrower?.ExpectedReturnDate</td>
                                            <td>@borrower?.ReturnDate</td>

                                            <td>@borrower.Books?.IsBorrowed</td>   @*  Dapat 'yes' or 'no' yung display hindi true or false *@


                                            <td>

                                                <button type="button" class="btn btn-sn bg-secondary update-borrower" data-borrower-id="@borrower.Id" data-borrower-return-date="@borrower.ReturnDate">
                                                    <i class="fas fa-pencil-alt"></i> Update
                                                </button>

                                                <button type="button" class="btn btn-sn btn-danger delete-borrower" data-borrower-id="@borrower.Id" data-borrower-name="@borrower.Student">
                                                    <i class="fas fa-trash"></i> Delete @* << If Hindi Return pa dapat naka disable pa ito*@
                                                </button>


                                            </td>
                                        </tr>
                                    }

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
